package {{ base_package }}

import org.junit.jupiter.api.Test
import org.springframework.boot.test.context.SpringBootTest

@SpringBootTest
class {{ application_name }}Test {

    @Test
    fun contextLoads() {
        // Verifies that the Spring context loads successfully
    }
}
