package {{ base_package }}.repository

import org.springframework.data.jpa.repository.JpaRepository
import org.springframework.stereotype.Repository
import {{ base_package }}.model.{{ entityName }}

/**
 * Repository interface for {{ entityName }} entities.
 */
@Repository
interface {{ entityName }}Repository : JpaRepository<{{ entityName }}, Long> {
    
    /**
     * Find {{ entityName }} by name.
     *
     * @param name the name to search for
     * @return the found {{ entityName }} or null
     */
    fun findByName(name: String): {{ entityName }}?
}
