package {{ base_package }};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

/**
 * Basic application tests
 */
@SpringBootTest
class {{ application_name }}Tests {

    @Test
    void contextLoads() {
        // Test that the application context loads successfully
    }

}
