package {{ base_package }}.service;

import {{ base_package }}.dto.SampleDTO;

import java.util.List;

/**
 * Sample service interface
 */
public interface SampleService {

    /**
     * Find all samples
     * 
     * @return a list of all samples
     */
    List<SampleDTO> findAll();

    /**
     * Find a sample by its ID
     * 
     * @param id the sample ID
     * @return the sample DTO
     */
    SampleDTO findById(Long id);

    /**
     * Save a new sample
     * 
     * @param sampleDTO the sample to save
     * @return the saved sample
     */
    SampleDTO save(SampleDTO sampleDTO);

    /**
     * Update an existing sample
     * 
     * @param sampleDTO the sample to update
     * @return the updated sample
     */
    SampleDTO update(SampleDTO sampleDTO);

    /**
     * Delete a sample by its ID
     * 
     * @param id the sample ID
     */
    void delete(Long id);
}
